# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
/.build/
Packages/
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Carthage
Carthage/Build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Other
*.swp
*.lock
*.xcconfig